body {
  margin: 0;
  padding: 0;
  min-width: 280px;
  font-family: "OpenSans", "Arial", sans-serif;
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  font: inherit;
}
