.contacts {
  padding-top: 40px;
  text-align: center;
}
.contacts__title {
  font-size: 24px;
  color: #283645;
  width: 280px;
  margin: 0 auto;  
  margin-bottom: 30px;
  outline: 1px solid red;
}
.contacts__wrapper {
  width: 280px;
  margin: 0 auto; 
  padding-bottom: 40px;
  outline: 1px solid red;
}
.contacts__text {
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.contacts__info {
  display: block;
  font-size: 24px;
  font-weight: normal;
  color: #d22856;
}
.contacts__map {
  width: 100%;
  height: 200px;
}
@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 50px;
  }
  .contacts__title {
    width: 620px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    line-height: 50px;
  }
  .contacts__wrapper {
    width: 620px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }  
  .contacts__text--phone {
    width: 310px;
    margin-bottom: 30px;
  }
  .contacts__text--email {
    width: 310px;
    margin-bottom: 30px;
  }
  .contacts__text--address {
    width: 310px;
    margin: 0 auto;
  }  
  .contacts__map {
    height: 380px;
  }
}
@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 70px;
  }
  .contacts__title {
    width: 600px;
    padding-left: 180px;
    padding-right: 180px;
    font-size: 50px;
    line-height: 60px;
  }
  .contacts__wrapper {
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
  }  
  .contacts__text--address {
    margin: 0;
  }
   .contacts__map {
    height: 500px;
  }
}
