.main-nav {
  position: relative;
  z-index: 2;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
  background-color: #283645;
  outline: 1px solid white;
}
.main-nav__logo {
  width: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(40, 54, 69, 0.3);
  outline: 1px solid green;
}
.main-nav__list {
  background-color: #283645;  
  width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__toggle {
  width: 24px;
  height: 23px;
  outline: 1px solid red;
}

@media (min-width: $tablet-width) {
  .main-nav {
  
    @include container;
  }
  .main-nav__list { 
    width: 660px;
  }
}
@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(40, 54, 69, 0.3);
  }
  .main-nav__logo {
    width: 150px;
    outline: 1px solid red;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    width: 620px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(40, 54, 69, 0.3);
    outline: 1px solid red;
  }
}
