.tariffs {
  position: relative;
  background-color: #f2f2f2;
  padding-top: 70px;
  padding-bottom: 40px;
}
.tariffs__wrapper {
  overflow: hidden;     
}
.tariffs__table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 840px;
  margin-left: calc(-280px + (100vw - 280px) / 2 ); 
  margin-bottom: 30px;  
}
.tariffs__table tbody {
  display: flex;
  justify-content: space-between;
}
.tariffs__list {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.tariffs__name {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #283645;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.tarriffs__price {
  display: table;
  margin: 0 auto;
  font-size: 24px;
}
.tariffs__value {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  border-bottom: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
}
.tariffs__value--yes,
.tariffs__value--no {
  position: relative;
}
.tariffs__value--no::before {
  position: absolute;
  content: "";
  top: 20px;
  right: 20px;
  background-image: url("../img/icon-no.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 26px;
  height: 27px;
  outline: 1px solid red;
}
.tariffs__value--yes::before {
  position: absolute;
  content: "";
  top: 20px;
  right: 20px;
  background-image: url("../img/icon-yes.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 31px;
  height: 21px;
  outline: 1px solid green;
}
@media (min-width: $tablet-width) {
  .tariffs__table {
    width: 620px;    
    margin-left: 0;
    margin: 0 auto;
  }
  .tariffs__table tbody {
    justify-content: flex-end;    
  }
  .tariffs__list {
    position:relative;
    width: 155px;
    margin: 0;     
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background-color: green;
      z-index: 2;
    }
    
    &:first-child .tariffs__value {
      margin-left: -155px;
    }
    &:nth-child(2) .tariffs__value,
    &:last-child .tariffs__value {
      font-size: 0;
    }
    &:first-child .tariffs__value--no::before {
      margin-right: -95px;
    }
    &:first-child .tariffs__value--yes::before {
      margin-right: -95px;
    }
  }
  .tariffs__value {
    background-color: #ffffff;
    text-transform: none;
  }   
  .tariffs__value--yes::before {
    right: 50%;
    margin-right: -10px;
  }
  .tariffs__value--no::before {
    right: 50%;
    margin-right: -13px;
  }  
}
@media (min-width: $desktop-width) {
  .tariffs { 
    padding-bottom: 90px;
  }
  .tariffs__table {
    width: 940px;  
  } 
  .tariffs__list {
    width: 235px; 
 
    &:first-child .tariffs__value {
      margin-left: -235px;
    }
    &:first-child .tariffs__value--no::before {
      margin-right: -130px;
    }
    &:first-child .tariffs__value--yes::before {
      margin-right: -130px;
    }
  } 
  .tariffs__value {
    font-size: 18px;
  }    
}  
